* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added shadow */
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .links {
    margin-left: 15px;
    display: flex;
  }
  
  .navbar-left a {
    margin-right: 20px;
    text-decoration: none;
    color: #000066;
    font-weight: 200;
  }
  
  .navbar-left a:hover {
    font-weight: bold;
  }
  
  .login-container {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 25px;
    padding: 45px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
  }
  
  label {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-size: 16px;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border:none;
    border-bottom:  1px solid #000066;
    outline: none;
    font-size: 16px;
  }
  
  .signup-btn {
    width: 100%;
    padding: 12px;
    background-color: #000066;
    color: #fff;
    border: 2px solid #000066;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    transition: 0.3s;
  }
  
  .signup-btn:hover {
    background-color: #fff;
    color: #000066;
    border: 2px solid #000066;
  }
  
  .forgot-password {
    margin-top: 10px;
    display: block;
    text-decoration: none;
    color: #000066;
    font-size: 14px;
  }
  
  .login-btn {
    width: 100%;
    padding: 12px;
    background-color: #fff;
    color: #000066;
    border: 2px solid #000066;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    transition: 0.3s;
  }
  
  .login-btn:hover {
    background-color: #000066;
    color: #fff;
  }
  